body { background: #510c2c; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 47px; display: flex; }
.block-email-0 { color: #1472e8; font-size: 19px; margin-bottom: 5px; }
.block-payment-1 { color: #cfb7e3; font-size: 15px; margin-bottom: 5px; }
.block-cart-2 { color: #bc717e; font-size: 20px; margin-bottom: 5px; }
.block-config-3 { color: #2f228e; font-size: 17px; margin-bottom: 5px; }
.block-payment-4 { color: #4a0227; font-size: 20px; margin-bottom: 5px; }